
<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="chrome chrome27 desktop"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/sun.png">
    <meta charset="utf-8">
    <title>Детский сад №35</title>

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"> -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}shadowbox/shadowbox.css">
    <script type="text/javascript" src="{{ STATIC_URL }}shadowbox/shadowbox.js"></script>
    <script type="text/javascript">
    Shadowbox.init();
    </script>




<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 5px;padding-left: 5px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
    <div class="art-sheet clearfix">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="33.02%">
    <a href="#">ДОУ Детский сад №35</a>
</h1>


            </div>

                <div id="art-flash-area">
                    <div id="art-flash-container">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1100" height="311" id="art-flash-object">
                        <param name="movie" value="{{ STATIC_URL }}images/flash.swf">
                        <param name="quality" value="high">
                      <param name="scale" value="exactfit">
                      <param name="wmode" value="transparent">
                      <param name="flashvars" value="color1=0xFFFFFF&amp;alpha1=.50&amp;framerate1=24&amp;loop=true&amp;wmode=transparent">
                        <param name="swfliveconnect" value="true">
                        <!--[if !IE]>-->
                        <object type="application/x-shockwave-flash" data="{{ STATIC_URL }}images/flash.swf" width="1100" height="311">
                            <param name="quality" value="high">
                          <param name="scale" value="exactfit">
                            <param name="wmode" value="transparent">
                                                          <param name="flashvars" value="color1=0xFFFFFF&amp;alpha1=.50&amp;framerate1=24&amp;loop=true&amp;wmode=transparent">
                            <param name="swfliveconnect" value="true">
                        <!--<![endif]-->
                            <div class="art-flash-alt"><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"></a></div>
                        <!--[if !IE]>-->
                        </object>
                        <!--<![endif]-->
                    </object>
                    </div>
                    </div>
                    
</header>
<nav class="art-nav clearfix desktop-nav">
    <ul class="art-hmenu">
        <li><a href="/" {% if path == '' %}class="active"{% endif %}>Главная</a></li>
        <li><a href="/news/" {% if path == 'news' %}class="active"{% endif %}>Новости</a></li>        
        <li><a href="/question-answer/" {% if path == 'question-answer' %} class="active" {% endif %}>Вопрос-ответ</a></li>
        <li><a href="/waymap/" {% if path == 'waymap' %} class="active" {% endif %}>Дорожная карта</a></li>
        <li><a href="/contact/" {% if path == 'contact' %} class="active" {% endif %}>Контакты</a></li>
    </ul> 
</nav>
<div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1 clearfix"><div class="art-vmenublock clearfix">
        <div class="art-vmenublockheader">
            <h3 class="t">Главное меню</h3>
        </div>
        <div class="art-vmenublockcontent">
<ul class="art-vmenu">
<li><a href="/" {% if path == '' %}class="active"{% endif %}>Главная</a></li><li><a href="#">Официальная информация</a>
<ul {% if path == 'structuredou' or path == 'structureupravleniya' or path == 'history'%} class="active" {% endif %}>
<li><a href="/structuredou/" {% if path == 'structuredou' %}class="active"{% endif %}>Структура ДОУ</a></li>
<li><a href="/structureupravleniya/" {% if path == 'structureupravleniya' %}class="active"{% endif %}>Структура управления ДОУ</a></li>
<li><a href="/history/" {% if path == 'history' %}class="active"{% endif %}>Историческая справка</a></li>
</ul></li>
<li><a href="#">Документы</a>
    <ul {% if path == 'uch-doc' or path == 'progams-plans' or path == 'finans-docs' or path == 'reports' or path == 'local-acts' or path == 'low-acts'%}
    class="active"{% endif %}>
        <li><a href="/uch-doc/" {% if path == 'uch-doc' %}class="active"{% endif %}>Учредительные документы</a></li>
        <li><a href="/progams-plans/" {% if path == 'progams-plans' %}class="active"{% endif %}>Программы, планы</a></li>
        <li><a href="/finans-docs/" {% if path == 'finans-docs' %}class="active"{% endif %}>Финансовые документы</a></li>
        <li><a href="/reports/" {% if path == 'reports' %}class="active"{% endif %}>Отчеты</a></li>
        <li><a href="/local-acts/" {% if path == 'local-acts' %}class="active"{% endif %}>Локальные акты</a></li>
        <li><a href="/low-acts/" {% if path == 'low-acts' %}class="active"{% endif %}>Законодательные акты</a></li>
    </ul></li>
</li>
<li><a href="#">Знакомтесь, это мы!</a>
    <ul {% if path == 'administration-dou' or path == 'workers-dou' %} class="active" {% endif %}>
        <li><a href="/administration-dou/" {% if path == 'administration-dou' %} class="active" {% endif %}>Администрация ДОУ</a></li>
        <li><a href="/workers-dou/" {% if path == 'workers-dou' %} class="active" {% endif %}>Сотрудники ДОУ</a></li>
    </ul>
</li>
<li><a href="/our-grups/">Наши группы</a></li>
<li><a href="#" style="font-size: 11px">Образовательная деятельность</a>
    <ul {% if path == 'tasks' or path == 'education-process' or path == 'social-cooperation' %} class="active" {% endif %}>
        <li><a href="/tasks/" {% if path == 'tasks' %} class="active" {% endif %}>Годовые задачи и цели</a></li>
        <li><a href="/education-process/" {% if path == 'education-process' %} class="active" {% endif %}>Образовательный процесс</a></li>
        <li><a href="/social-cooperation/" {% if path == 'social-cooperation' %} class="active" {% endif %} style="font-size: 12px;">Сотрудничество с социумом</a></li>
    </ul>
</li>
<li><a href="#">Дополнительные услуги</a>
    <ul {% if path == 'normative-documents' or path == 'services-and-rates' %} class="active" {% endif %}>
        <li><a href="/services-and-rates/" {% if path == 'services-and-rates' %} class="active" {% endif %}>Услуги и тарифы</a></li>
        <li><a href="/contract-with-parent/" {% if path == 'contract-with-parent' %} class="active" {% endif %}>Договор с родителями</a></li>
        <li><a href="/statement-on-supply/" {% if path == 'statement-on-supply' %} class="active" {% endif %}>Заявление на поступление</a></li>
        <li><a href="/position/" {% if path == 'supply' %} class="active" {% endif %}>Положение</a></li>
        <li><a href="/programm/" {% if path == 'programm' %} class="active" {% endif %}>Программа</a></li>
    </ul>
</li>
<li><a href="#">Методическая страничка</a>
    <ul {% if path == 'attestation' or path == 'education-workshop' %} class="active" {% endif %}>
        <li><a href="/attestation/" {% if path == 'attestation' %} class="active" {% endif %}>Аттестация</a></li>
        <li><a href="/education-workshop/" {% if path == 'education-workshop' %} class="active" {% endif %}>Педагогическая мастерская</a></li>
    </ul>
</li>
<li><a href="#">Медицинская страничка</a>
    <ul{% if path == 'food' or path == 'medicine-story' %} class="active" {% endif %}>
        <li><a href="/food/" {% if path == 'food' %} class="active" {% endif %}>Питание дошкольников</a></li>
        <li><a href="/medicine-story/" {% if path == 'medicine-story' %} class="active" {% endif %}>Медицинский вестник</a></li>
    </ul>
</li>
<li><a href="#">Советы специалистов</a>
    <ul {% if path == 'speech-therapist' or path == 'music-room' or path == 'physical-culture-room' or path == 'speech-psychologist' %} class="active" {% endif %}>
        <li><a href="/speech-therapist/" {% if path == 'speech-therapist' %} class="active" {% endif %}>Советы логопеда</a></li>
        <li><a href="/music-room/" {% if path == 'music-room' %} class="active" {% endif %}>Музыкальный кабинет</a></li>
        <li><a href="/physical-culture-room/" {% if path == 'physical-culture-room' %} class="active" {% endif %}>Советы физинструктора</a></li>
        <li><a href="/speech-psychologist/" {% if path == 'speech-psychologist' %} class="active" {% endif %}>Советы психолога</a></li>
    </ul>
</li>
<li><a href="#">Для Вас, родители!</a>
    <ul {% if path == 'go-to-kidgarden' or path == 'questions' %} class="active" {% endif %}>
        <li><a href="/go-to-kidgarden/" {% if path == 'go-to-kidgarden' %} class="active" {% endif %}>Поступаем в детский сад</a></li>
        <li><a href="/questions/" {% if path == 'questions' %} class="active" {% endif %}>Вопросы оплаты в ДОУ</a></li>
    </ul>
</li>

<li><a href="/security-dou/">Безопасность ДОУ</a></li>

<li><a href="/progress-dou/">Достижения ДОУ</a></li>
<li><a href="/photos/" {% if path == 'photos' %}class="active"{% endif %}>Фотогалерея</a></li>
</ul>
                
        </div>
</div></div>
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                <div class="art-postmetadataheader">
                                        <h2 class="art-postheader"><i>{% block title %}{% endblock %}</i></h2>
                                    </div>
                                {% block content %}{% endblock %}
                                <!-- <div class="art-postmetadataheader">
                                        <h2 class="art-postheader">Home</h2>
                                    </div>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 50%">
        <img width="168" height="121" alt="" class="art-lightbox" src="images/0_77f53_8dd3e0e42_L.png"><br>
        Enter Page content here...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.&nbsp;Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.
        <p><a href="#">Read more</a></p>
    </div><div class="art-layout-cell layout-item-0" style="width: 50%">
        <div style="margin-left: 2em">         </div>
        <p><img width="125" height="91" alt="" class="art-lightbox" src="images/0_7809b_4274cd2612345_L.png"><br></p>
        <p>Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est.</p>
        <div style="margin-left: 2em">         </div>
        <p>Donec vel neque in neque porta venenatis sed sit amet lectus.</p>
        <div style="margin-left: 2em">         </div>
        <p>Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.</p>
        <div style="margin-left: 2em">         </div>
        <p>Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est.<br></p>
        <div style="margin-left: 2em">         </div>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%">
        <blockquote style="margin: 10px 0">Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed. Donec vel neque in neque porta venenatis sed sit amet lectus.</blockquote>
    </div>
    </div>
</div>
</div>
                                 -->
                </article></div>
                        <div class="art-layout-cell art-sidebar2 clearfix"><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Последние новости</h3>
        </div>
<div class="art-blockcontent"><div>
  <ul>
    {% block news %}
        
    {% endblock %}    
  </ul>
</div></div>
</div><!-- <div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Архив новостей</h3>
        </div>
        <div class="art-blockcontent"><div>
  <ul>
    <li>
      <a href="#" title="November 2008">Ноябрь 2008</a>
    </li>
    <li>
      <a href="#" title="October 2008">Октябрь 2008</a>
    </li>
    <li>
      <a href="#" title="September 2008">Сентябрь 2008</a>
    </li>
    <li>
      <a href="#" title="June 2008">Июнь 2008</a>
    </li>
  </ul>
</div></div>
</div> --></div>
                    </div>
                </div>
            </div><footer class="art-footer clearfix">
<p>© ДОУ детский сад №35 {% now "Y" %}  г.</p>
</footer>

    </div>
    <p class="art-page-footer">
        <span id="art-footnote-links">Разработано компанией: <a href="http://bs-soft.org/">http://bs-soft.org/</a>.</span>
    </p>
</div>


</body></html>